langchain_pinecone==0.0.3
langchain==0.1.9
streamlit==1.28.1
streamlit_chat
streamlit_lottie
streamlit_pills
python-dotenv==1.0.0
openai==1.8.0
sentence-transformers==2.2.2
langchain-community==0.0.32
tiktoken==0.6.0
portkey_ai==1.7.0
streamlit_cookies_controller==0.0.4