langchain-pinecone
langchain
streamlit
streamlit_chat
streamlit_lottie
streamlit_pills
python-dotenv
sentence-transformers
langchain-community
tiktoken
portkey_ai
streamlit_cookies_controller
openai
langchain-openai